@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper CSS */
@import 'swiper/css';
@import 'swiper/css/free-mode';
@import 'swiper/css/thumbs';

@theme{
  --text-2:8px;
}

body {
  font-family: 'Manrope', sans-serif;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */
.small-scrollbar {
    scrollbar-width: none;
    scrollbar-gutter: stable;
    padding-right: 2px;
    transition: scrollbar-color .3s;
}
.text-heading-xl {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.text-theme-text {
    color: #111928;
}
.text-heading-3xl {
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
}
.text-label-sm {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
}
.text-theme-text-secondary {
    color: #9ca3af;
}
.text-label-md {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.border-border-primary {
    border-color: #e5e7eb;
}
.text-theme-text {
    color: #111928;
}
.text-price-md {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.text-price-lg {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.text-body-sm {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.text-body-md {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.text-body-xl {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }
.text-price-xl {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
}
.bg-brand-surface {
    background-color: #ffc84a;
  }
.border-border-brand {
    border-color: #ffda84;
}
.text-heading-lg {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
}
.text-heading-md {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

 /* Hide number input arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Custom Swiper Styles
.swiper-slide {
  width: auto !important;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
} */





@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
